@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    font-size: 15px;
    --red :  hsl(0, 78%, 62%);
    --cyan : hsl(180, 62%, 55%);
    --orange : hsl(34, 97%, 64%);
    --blue : hsl(212, 86%, 64%);

    --very-dark-blue :  hsl(234, 12%, 34%);
    --grayish-blue :  hsl(229, 6%, 66%);
    --very-light-gray :  hsl(0, 0%, 98%);

}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--very-light-gray);
}
header {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0rem;
}
header h2 {
    font-weight: 200;
    font-size: 2rem;
}
header h3 {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--very-dark-blue);
}
header p {
    padding: 1rem 0rem;
    font-weight: 400;
    color: var(--grayish-blue);
}
main {
    padding: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}
.card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    padding: 1.5rem;
} 
.card h3 {
    color: var(--very-dark-blue);
}
.card p {
    padding: 1rem 0rem 2rem 0rem;
    font-weight: 400;
    color: var(--grayish-blue);
}
.card img {
    width: 60px;
    align-self: flex-end;
}
.multi-card {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.5rem;
}
.card-1 {
    border-top: 4px solid var(--cyan);
}
.card-2 {
    border-top: 4px solid var(--red);
}
.card-3 {
    border-top: 4px solid var(--orange);
}
.card-4 {
    border-top: 4px solid var(--blue);
}
footer {
    padding: 1rem 0rem;
    text-align: center;
    font-size: .8rem;
}

@media all and (max-width: 900px) {
    :root {
        font-size: 14px;
    }
    header {
        width: 60%;
    }
    main {
        width: 90%;
    }
}

 @media all and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
    .multi-card {
        grid-template-columns: 1fr;
    }
}


